{% extends 'base.html' %}

{% block title %}Moundz Welcome{% endblock %}
{% block h1%}{% endblock %}

{% block content %}
<p>
Moundz is a <a href="http://en.wikipedia.org/wiki/Geosocial_networking">Geosocial</a> game that uses
the multitude of existing geosocial networks to create an interactive and fun real-world and online game.
</p>
<form action="http://sidelab.createsend.com/t/r/s/bmddk/" method="post" id="subForm">
<div>
<h2>Beta Access</h2>
<p>
If you would like to have access to the Moundz Beta (when it is available), please
subscribe below:
</p>
<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
<label for="bmddk-bmddk">Email:</label><br /><input type="text" name="cm-bmddk-bmddk" id="bmddk-bmddk" /><br />

<input type="submit" value="Subscribe" />
</div>
</form>
{% endblock %}